:root {
	--cell-size: 50px;
}
  
body {
    margin: 0;
	box-sizing: border-box;
}

#listOfShips {
	background-color: rgb(174, 240, 252);
	margin-top: 135px;
	border: 2px solid black;
	display: flex;
	align-content: center;
	justify-items: center;
}

#board {
	width: 100vw;
	height: 100vh;
	display: grid;
	align-content: center;
	justify-items: center;
}

#prep {
	width: 100vw;
	height: 100vh;
	display: flex;
}
  
.cell {
	width: var(--cell-size);
	height: var(--cell-size);
	border: 1px solid black;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	cursor: pointer;
}